* {
    margin: 0;
    padding: 0;
}
    
html, body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 9.5rem;
    background-color: rgb(150,187,124)
    
}

.logotype {
    height: 40%;
    width: 26rem;
    display: flex;
    align-self: center;
    margin-left: 2rem;
}

#menuIcon {
   visibility: hidden;
}

.wholeNav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    margin-right:2rem;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-between;
    width:100%
}

header nav h2 {
font-family: diazo-mvb-rough1-ex-cond, sans-serif;
font-weight: 300;
font-style: normal;
}

header nav i {
    font-size: 1.5rem;
    display: flex;
    align-self: center;
}

.heroPage {
    height: 42.5rem;
    background-image: url("./heroPage.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroPage h1 {
    font-family: flood-std, sans-serif;;
    color: white; 
    font-size: 4.5rem;
    font-weight: 100;
}

.infoText {
    height: 19rem;
    background-color: rgb(214, 239, 199);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(24, 77,71)
}

.infoText h3 {
    font-size: 1.9rem;
    font-family: diazo-mvb-rough1-ex-cond, sans-serif;
}

.infoText h5 {
    font-size: 1.125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 50%;
}

main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "product1 product2 product3"
    " . questionsInfo . "
    "contact1 contact2 contact3";
    
}

main h3 {
    font-family: diazo-mvb-rough1-ex-cond, sans-serif;
    font-size: 1.3125rem;
}

main h4 {
    color: rgb(24, 77, 71);
    font-size: 1.125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom:1rem;
}

.product1 {
    grid-area: product1;
}

.product2 {
    grid-area: product2;
}

.product3 {
    grid-area: product3;
}

.product1, .product2, .product3 {
    margin: 5rem 0 10rem 0;
}

.pic1, .pic2, .pic3 {
    height: 20rem;
    width: 16rem;
    margin:2rem;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

.productInfo {
    margin-top: 0.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.875rem;
}

.button1 {
    width:35%;
    height:2rem;
    border-width: 0.51px;
    border-color: rgb(24, 77, 71);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(238, 187, 77);

    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    padding:0.5rem;
    margin-top:2rem;   
}

.questionsInfo {
    grid-area: questionsInfo;
}

.questionsInfo h3{
    text-align: center;
    margin-bottom: 2rem;
}

.contact1 {
    grid-area: contact1;
    display: flex;
}

.contact2 {
    grid-area: contact2;
}

.contact3 {
    grid-area: contact3;
}

.product1, .product2, .product3, .contact1, .contact2, .contact3 {
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contactPic1, .contactPic2, .contactPic3 {
    border-radius: 70%;
    height: 20rem;
    width: 16rem;
    margin:2rem;
}

a {
    text-decoration: none;
    color: rgb(238, 187, 77);
    font-size: 1.125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-weight: bold;
}

footer{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    height: 23rem;
    background-color: rgb(150,187,124);
}

.footerItems {
    display: flex;
    width: 100%;
    margin: 0 4rem 0 4rem;
    justify-content: space-between;
}

.iconList {
    list-style: none;
}

.iconList li i{
    font-size: 2rem;
    margin: 1rem;
    color: rgb(24, 77,71)
}

.symbol {
    height: 50%;
    align-self: center;
}



